export(getDataWide)
export(getFileName)
export(getHobby)
export(getNetwork)
export(getNetworkMatrixOrder)
export(getVariableName)
export(prepareData)
export(readSeshkNetwork)
export(readSpecification)
export(splitNetworkData)
export(ToUndirectedGraph)
