export(extractData)
export(genDataMatrix)
export(generateWeighting)
export(genModelData)
export(genNetworkData)
export(genPairwiseHobbyData)
export(genPairwiseIndex)
export(getDataWide)
export(getFileName)
export(getHobby)
export(getNetwork)
export(getNetworkMatrixOrder)
export(getPairwiseFriendshipData)
export(getVariableName)
export(getXandWX)
export(prepareData)
export(readSeshkNetwork)
export(readSpecification)
export(splitNetworkData)
export(ToUndirectedGraph)
